<br>

![Imgur](https://i.imgur.com/zRrFdsf.png)

_____

Create functions in Python

In [ ]:
x="1,200"
x

'1,200'

In [ ]:
type(x)

str

In [ ]:
x+1 #como es la suma entre un texto y un número no funciona

TypeError: can only concatenate str (not "int") to str

como x es un texto, añadir + 1 hace que obligatoriamente se deba concatenar

In [ ]:
x + "1" #si se colocan "" al 1 esto permite solamente concatenar, no sumar

'1,2001'

In [ ]:
1,200

In [ ]:
y=1200
y

1200

In [ ]:
type(y)

int

In [ ]:
z="1,200"

In [ ]:
float(z)

ValueError: could not convert string to float: '1,200'

un número entre comillas no considera la coma como un caractér numérico por tanto no acepta el float

In [ ]:
w="1200"

In [ ]:
float(w)

1200.0

el punto "." sí se accepta como un caractér numérico, pero la coma "," no

In [ ]:
a="12.4"

In [ ]:
float(a)

12.4

In [ ]:
def charToNum(xString):
  import re
  xNum=re.sub(",","",xString) #se reemplaza la coma "," con nada ""
  xNum=float(xNum)
  return xNum

In [ ]:
charToNum("3,210")

3210.0

In [ ]:
charToNum("1 200.56")

In [ ]:
def charToNum(xString):
  import re
  xNum=re.sub(",|\s","",xString) #sustituir la coma "," o el espacio en blanco (\s) con nada
  xNum=float(xNum)
  return xNum

In [ ]:
charToNum("1 200.56")

In [ ]:
charToNum("1'200,145.56")

In [ ]:
def charToNum(xString): #def = definir
  import re #cuando se llama a una librería "re" esta aplica solo dentro de la función, no para el resto del código
  xNum=re.sub(",|\s|'","",xString) #sustituir la coma "," o el espacio en blanco (\s) o el apóstrofe "'" con nada
  xNum=float(xNum)
  return xNum

In [ ]:
charToNum("1 200 145.56")

In [ ]:
charToNum("1'200,145.56")

ahora se sustituye la función con lambda

In [ ]:
import re #como no se está definiendo la función, es decir como la librería no está debajo de un def, se debe volver a llamar la librería
charToNum_2=lambda xString:float(re.sub(",|\s|'","",xString))
charToNum_2('1,250.9')

In [ ]:
def toPower(aNumber, aPower):
  numPow=aNumber**aPower
  return numPow

In [ ]:
toPower(2,3)

In [ ]:
toPower(2,0)

In [ ]:
toPower(2,-1)

In [ ]:
def toPower(aNumber, aPower=2):
  numPow=aNumber**aPower
  return numPow

In [ ]:
toPower(9)

In [ ]:
toPower(9,4)